@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f8fafc;
}

.animation-delay-2000 {
  animation-delay: 2s;
}
